
/* THESE IS A CUSTOM STYLESHEET FOR THIS PROTOTYPE */

/* Styles for the accordian titles and summary text */

.js-enabled .govuk-accordion__section-button {
    text-decoration: none;
}

.accordian-section_nocontent .govuk-accordion__section-toggle {
    display: none;
}

.govuk-accordion__section-heading-text {
    font-family: 'Lato';
}

a.cms-prototype-homepage-box {
    text-decoration: none;
}

a.cms-prototype-homepage-box h3 {
    text-decoration: underline;
}

a.cms-prototype-homepage-box:hover h3 {
    text-decoration-thickness: 3px;
    color: #000;
}

.gcs-section-home--block-inner {
    padding: 2em 2.25em;
}