<!DOCTYPE html>
<html lang="en" class="govuk-template">

{% include "layouts/head.html" %}

<body class="govuk-template__body govuk-body">

    {% include "layouts/header.html" %}

    <div class="gcs-section-home gcs-section-home--standard">

        <!-- MAIN HERO BANNER AND PAGE TITLE -->
        <div class="shading gcs-hero--wrapper" style="background: linear-gradient(90deg, rgb(0, 48, 120) 20%, rgb(29, 112, 184) 100%);">

            <!--<div class="gcs-hero--wrapper">-->  
            <div class="govuk-width-container">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-half-from-desktop gcs-hero--txt-wrapper">
                        <div class="gcs-hero--txt">
                            <h1 class="govuk-heading-xl">Data ownership</h1>
                            <p class="govuk-body-l">Making decisions about data in your team. Your roles and responsibilities.</p>
                        </div>
                    </div>

                    <!-- Highlight feature
                    <div class="govuk-grid-column-one-half-from-desktop">
                        <div class="gcs-hero--inner" style="position: relative; top:50%;  transform: translateY(-50%);">
                            <div class="gcs-hero--join">
                                <h2 style="margin-top: 0; font-size: 2rem;">Government's definition of a service</h2>
                                <p class="govuk-body-m">Services deliver outcomes for their users.</p>
                                <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> Find out more                              
                                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>

        <!-- Remove the GCS breadcrumbs
        <div class="gcs-breadcrumbs">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="https://gcs.civilservice.gov.uk/">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">Academy</li>
                    </ol>
                </div>
            </div>
        </div> -->

        <div class="govuk-width-container">

            <!-- MAIN PAGE CONTENT START HERE--> 
            <!-- TEMPLATE IS FROM THE SERVICE MANUAL -->

            <!-- Remove the Service Manual breadcrumb
            <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/service-manual" data-track-options='{"dimension28":"1","dimension29":"Service manual"}' data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index":{"index_link":"1"},"index_total":"1"}' class="govuk-breadcrumbs__link" href="/service-manual">Service manual</a>
                    </li>
                </ol>
            </div> -->

            <!-- Remove the Service Manual page title
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                        <h1 class="gem-c-title__text govuk-heading-xl">Agile delivery</h1>
                    </div>
                    <p class="govuk-body-l">How to work in an agile way: principles, tools and governance.</p>
                </div>
            </div> -->

            <!-- <main class="govuk-main-wrapper" id="main-content" role="main"></main> -->

            <main role="main" id="content" class="service-manual-topic" lang="en">

                <div class="govuk-width-container" style="margin-bottom: 50px;">
      
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-two-thirds">

                            <div id="default-id-f4190979" data-module="govuk-accordion gem-accordion ga4-event-tracker" data-ga4-expandable="" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all sections" data-hide-all-text="Hide all sections" data-this-section-visually-hidden=" this section" class="gem-c-accordion govuk-accordion govuk-!-margin-bottom-6">

                                <div class="govuk-accordion__section"><!-- If you want to hide the accordian use this class "accordian-section_nocontent" -->
                                    <div class="govuk-accordion__section-header">
                                        <h2 style="margin-bottom: 0;" class="govuk-accordion__section-heading" data-ga4='{"event_name":"select_content","type":"accordion","text":"Understanding agile project management","index":1,"index_total":4}' data-ga4-event='{"event_name":"select_content","type":"accordion","text":"Understanding agile project management","index":{"index_section":1,"index_section_count":4}}'>
                                            <span style="border-top: none;" class="govuk-accordion__section-button" id="default-id-f4190979-heading-1">(data ownership links)</span>
                                            <!-- <strong class="govuk-tag govuk-phase-banner__content__tag" style="position: relative; top:-2px;">New</strong> -->
                                        </h2>
                                        <div id="default-id-f4190979-summary-1" class="govuk-accordion__section-summary govuk-body" style="font-size: 0.75em;">(content?)</div>
                                    </div>
                                    <div id="default-id-f4190979-content-1" class="govuk-accordion__section-content" aria-labelledby="default-id-f4190979-heading-1" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link='{"event_name":"navigation","type":"accordion","section":"Understanding agile project management","index":{"index_section":1,"index_section_count":4}}'>
                                        <ul class="govuk-list">
                                            <li><a class="govuk-link" href="#">(no links provided)</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>

                                <div class="govuk-accordion__section"><!-- If you want to hide the accordian use this class "accordian-section_nocontent" -->
                                    <div class="govuk-accordion__section-header">
                                        <h2 style="margin-top: 0; margin-bottom: 0;" class="govuk-accordion__section-heading" data-ga4='{"event_name":"select_content","type":"accordion","text":"Working with agile methods","index":2,"index_total":4}' data-ga4-event='{"event_name":"select_content","type":"accordion","text":"Working with agile methods","index":{"index_section":2,"index_section_count":4}}'>
                                            <span class="govuk-accordion__section-button" style="padding-top: 20px;" id="default-id-f4190979-heading-2">(second accordion?)</span>
                                        </h2>
                                        <div id="default-id-f4190979-summary-2" class="govuk-accordion__section-summary govuk-body" style="font-size: 0.75em;">(second accordion content)</div>
                                    </div>
                                    <div id="default-id-f4190979-content-2" class="govuk-accordion__section-content" aria-labelledby="default-id-f4190979-heading-2" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link='{"event_name":"navigation","type":"accordion","section":"Working with agile methods","index":{"index_section":2,"index_section_count":4}}'>
                                        <ul class="govuk-list">
                                            <li><a class="govuk-link" href="#">(second accordion link 2)</a></li>
                                            <li><a class="govuk-link" href="#">(second accordion link 2)</a></li>
                                            
                                        </ul>
                                        <!-- Experimenting with embedding video
                                        <style>
                                            .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                                            .embed-container iframe, 
                                            .embed-container object, 
                                            .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
                                        </style>
                                        <div class='embed-container'>
                                            <iframe src="https://www.youtube.com/embed/KdsTE2iR26I?si=vMa6wSdrtkjJKK2D&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
                                        </div> -->
                                    </div>
                                </div>

                                

                            </div><!-- End of govuk-accordion -->
                  
                            <h2 class="gem-c-heading govuk-heading-l" style="margin-top: 50px;">Related guidance</h2>
                            <ul class="govuk-list">
                                <li><a class="govuk-link" href="#">(related guidance link 1)</a></li>
                                <li><a class="govuk-link" href="#">(related guidance link 2)</a></li>
                                
                            </ul>

                        </div><!-- End of grid-column-two-thirds -->
      
                        <div class="govuk-grid-column-one-third">

                            <aside class="related">
                                <div class="related-item govuk-!-padding-top-4 govuk-!-margin-bottom-5">
                                    <h2 id="related-communities" class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">Join the community</h2>
                                    <p class="related-item__description govuk-body">(Find out what the cross-government community does and how to get involved.)</p>
                                    <nav role="navigation" aria-labelledby="related-communities" class="related-communities">
                                        <ul class="gem-c-list govuk-list">
                                            <li><a class="govuk-link" href="#">(Community link 1)</a></li>
                                            <li><a class="govuk-link" href="#">(Comunity link 2)</a></li>
                                            
                                        </ul>
                                    </nav>
                                </div>
                                <div class="related-item govuk-!-padding-top-4">
                                    <h2 id="related-subscriptions" class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">Get notifications</h2>
                                    <div class="related-item__subscription-link" data-module="ga4-link-tracker" data-ga4-link='{ "event_name": "navigation", "type": "subscribe", "index": { "index_link": 1 }, "index_total": 1, "section": "Sidebar" }' data-ga4-track-links-only>
                                        <section class="gem-c-subscription-links govuk-!-display-none-print">
                                            <ul class="gem-c-subscription-links__list">
                                                <li class="gem-c-subscription-links__list-item">
                                                    <a class="govuk-link gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/email-signup?link=/service-manual/agile-delivery">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15.75" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path></svg>
                                                        Get emails when any guidance within this topic is updated
                                                    </a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                </div>
                            </aside>

                        </div><!-- End of grid-column-one-third -->
      
                    </div><!-- End of govuk-grid-row -->
            
                </div><!-- End of govuk-width-container -->
      
            </main><!-- End of service-manual-topic --> 

        </div><!-- End of gov uk-width-container --> 

    <!-- </div> End of gcs-section-home (not sure what's going on with this one, but inclusion of this div breaks the footer) -->

    {% include "layouts/footer.html" %}

    {% include "layouts/footer-scripts.html" %}

</body>

</html>