<!DOCTYPE html>
<html lang="en" class="govuk-template">

{% include "layouts/head.html" %}

<body class="govuk-template__body govuk-body">

    {% include "layouts/header.html" %}

    <div class="gcs-section-home gcs-section-home--standard">

        <!-- MAIN HERO BANNER AND PAGE TITLE -->
        <div class="shading gcs-hero--wrapper" style="background: linear-gradient(90deg, rgb(0, 48, 120) 20%, rgb(29, 112, 184) 100%);">

            <!--<div class="gcs-hero--wrapper">-->  
            <div class="govuk-width-container">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-half-from-desktop gcs-hero--txt-wrapper">
                        <div class="gcs-hero--txt">
                            <h1 class="govuk-heading-xl">Data ethics</h1>
                            <p class="govuk-body-l">(The principles and actions to guide the appropriate and responsible use of data in government)</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Remove the GCS breadcrumbs
        <div class="gcs-breadcrumbs">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="https://gcs.civilservice.gov.uk/">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">Academy</li>
                    </ol>
                </div>
            </div>
        </div> -->

        <div class="govuk-width-container">

            <!-- MAIN PAGE CONTENT START HERE--> 
            <!-- TEMPLATE IS FROM THE SERVICE MANUAL -->

            <!-- Remove the Service Manual breadcrumb
            <div data-module="gem-track-click ga4-link-tracker" class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/service-manual" data-track-options='{"dimension28":"1","dimension29":"Service manual"}' data-ga4-link='{"event_name":"navigation","type":"breadcrumb","index":{"index_link":"1"},"index_total":"1"}' class="govuk-breadcrumbs__link" href="/service-manual">Service manual</a>
                    </li>
                </ol>
            </div> -->

            <!-- Remove the Service Manual page title
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-7">
                        <h1 class="gem-c-title__text govuk-heading-xl">Agile delivery</h1>
                    </div>
                    <p class="govuk-body-l">How to work in an agile way: principles, tools and governance.</p>
                </div>
            </div> -->

            <!-- <main class="govuk-main-wrapper" id="main-content" role="main"></main> -->

            <main role="main" id="content" class="service-manual-topic" lang="en">

                <div class="govuk-width-container" style="margin-bottom: 50px;">
      
                    <div class="govuk-grid-row">

                        <div class="govuk-grid-column-two-thirds">

                            <br />
                            <br />
                            <ul class="govuk-list">
                                <li><a class="govuk-link" href="https://www.gov.uk/service-manual/design/scoping-your-service">Data Ethics Framework</a></li>
                                <li><a class="govuk-link" href="https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard">Ethics, transparency and accountablity framework for automated design-making</a></li>
                                <li><a class="govuk-link" href="https://docs.google.com/document/d/1s9ByJPOmzsyJgsyS2yCv8iyPPBGSZd-5hbDTGjbe1sA/edit#heading=h.1xwcay5mlw8i">Algorithmic Transparency Recording Standard Hub<!-- </span><strong class="govuk-tag govuk-phase-banner__content__tag" style="position: relative; top:-1px; background-color: #777; font-size: 0.75rem;">In progress</strong></span></li> -->

                            </ul>

                           
                        </div><!-- End of grid-column-two-thirds -->
      
      
                    </div><!-- End of govuk-grid-row -->
            
                </div><!-- End of govuk-width-container -->
      
            </main><!-- End of service-manual-topic --> 

        </div><!-- End of gov uk-width-container --> 

    <!-- </div> End of gcs-section-home (not sure what's going on with this one, but inclusion of this div breaks the footer) -->

    {% include "layouts/footer.html" %}

    {% include "layouts/footer-scripts.html" %}

</body>

</html>