<!DOCTYPE html>
<html lang="en" class="govuk-template">

{% include "layouts/head.html" %}

<body class="govuk-template__body govuk-body">

    {% include "layouts/header-without-top-navigation.html" %}

    <div class="gcs-section-home gcs-section-home--standard">

        <!-- MAIN HERO BANNER AND PAGE TITLE -->

        <div class="shading gcs-hero--wrapper" style="background: linear-gradient(90deg, rgb(0, 48, 120) 20%, rgb(29, 112, 184) 100%);">
            <!--<div class="gcs-hero--wrapper">-->
            <div class="govuk-width-container">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-two-thirds gcs-hero--txt-wrapper">
                        <div class="gcs-hero--txt">
                            <h1 class="govuk-heading-xl">Page not built yet. Please go back.</h1>
  
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Removed the breadcrumbs, for now
        <div class="gcs-breadcrumbs">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link"
                                href="https://gcs.civilservice.gov.uk/">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">Academy</li>
                    </ol>
                </div>
            </div>
        </div> -->

        <!-- MAIN PAGE CONTENT START HERE--> 

        <main class="govuk-main-wrapper" id="main-content" role="main">


       </main>
    </div>

    {% include "layouts/footer.html" %}

    {% include "layouts/footer-scripts.html" %}

</body>

</html>