<!DOCTYPE html>
<html lang="en" class="govuk-template">

{% include "layouts/head.html" %}

<body class="govuk-template__body govuk-body">

    {% include "layouts/header-without-top-navigation.html" %}

    <div class="gcs-section-home gcs-section-home--standard">

        <!-- MAIN HERO BANNER AND PAGE TITLE -->

        <div class="shading gcs-hero--wrapper" style="background: linear-gradient(90deg, rgb(0, 48, 120) 20%, rgb(29, 112, 184) 100%);">
            <!--<div class="gcs-hero--wrapper">-->
            <div class="govuk-width-container">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-two-thirds gcs-hero--txt-wrapper">
                        <div class="gcs-hero--txt">
                            <h1 class="govuk-heading-xl">Transforming government services</h1>
                            <p>Helping teams to create, run and transform great public services</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Removed the breadcrumbs, for now
        <div class="gcs-breadcrumbs">
            <div class="govuk-header__container govuk-width-container">
                <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                        <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link"
                                href="https://gcs.civilservice.gov.uk/">Home</a></li>
                        <li class="govuk-breadcrumbs__list-item" aria-current="page">Academy</li>
                    </ol>
                </div>
            </div>
        </div> -->

        <!-- MAIN PAGE CONTENT START HERE--> 

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l first-on-page" style="margin: 0 0 2rem;">(Head 2)</h2>
                        <div class="govuk-body-m">
                            <p>Great digital services need great digital professionals.</p> 
                            <p>The resources published here are designed to support people working on the digital transformation of public services.</p> 
                            <p>Whether you are a beginner in your digital career or an established professional, there is something here to help you do a great job.</p>
                        </div>
                    </div>
                </div>

                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="types-of-services.html">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Service delivery</span></h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Working with technology</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="data-ethics.html">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Managing data</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Building Capability</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Data Privacy and Protection</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Assurance</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Digital enablement</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="govuk-grid-column-one-third-from-desktop">
                        <a href="#">
                            <div class="gcs-section-home--block">
                                <div class="gcs-section-home--block-inner"><!-- <img src="https://gcs.civilservice.gov.uk/wp-content/themes/gcs/assets/svg/right-arrow.svg" class="arrow" alt=" " /> -->
                                    <h3 class="govuk-heading-m">Communications and community</h3>
                                    <p>(content)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
       </main>
    </div>

    {% include "layouts/footer.html" %}

    {% include "layouts/footer-scripts.html" %}

</body>

</html>